body {
	font-family: arial, sans-serif;
	font-size: 0.8em;
}

a {
	text-decoration: none;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

header ul {
	margin-top: 16px;
	float:right;
	margin-right: 16px;
}

header ul li {
	padding-left: 16px;
	display: inline-block;
	vertical-align: middle;
}

.avatar {
	border-radius: 100%;
}

.username {
	color: #000;
	opacity: 0.55;
}

.header_link {
	color: #000;
	opacity: 0.75;
}

article {
	margin-top: 200px;
}

article section {
	text-align: center;
}

article form input[type="search"]
{
	width: 584px;
	height: 38px;
	padding-left: 10px;
}

article div.search_input {
	margin-top: 33px;
}

article div.search_input a {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: 67px;
}

article div.search_button_container {
	margin-top: 32px;
}

article .button {
	height: 36px;
	padding: 0px 17px;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	background-image: -webkit-linear-gradient(center top , #F5F5F5, #F1F1F1);
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
}

